.rank-list {
  margin: 10px 0;
  height: 40px;
  line-height: 40px;
  text-align: center;

  &-index {
    width: 40px;
    border-radius: 50%;
    margin: auto;
    background: #2d8cf0;
    color: white;
    font-size: 20px;
  }

  &-name {
    font-size: 16px;
  }

  &-total {
    font-size: 18px;
  }
}
